In [1]:
# data file
import pandas as pd
import numpy as np
 
r_cols = ['user_id', 'item_id', 'rating']
ratings = pd.read_csv('ex.dat', sep = ' ', names = r_cols, encoding='latin-1')
Y_data = ratings.to_numpy()

In [ ]:
ratings

    user_id  item_id  rating
0         0        0     5.0
1         0        1     4.0
2         0        3     2.0
3         0        4     2.0
4         1        0     5.0
5         1        2     4.0
6         1        3     2.0
7         1        4     0.0
8         2        0     2.0
9         2        2     1.0
10        2        3     3.0
11        2        4     4.0
12        3        0     0.0
13        3        1     0.0
14        3        3     4.0
15        4        0     1.0
16        4        3     4.0
17        5        1     2.0
18        5        2     1.0
19        6        2     1.0
20        6        3     4.0
21        6        4     5.0

:

In [4]:
Y_data

array([[0., 0., 5.],
       [0., 1., 4.],
       [0., 3., 2.],
       [0., 4., 2.],
       [1., 0., 5.],
       [1., 2., 4.],
       [1., 3., 2.],
       [1., 4., 0.],
       [2., 0., 2.],
       [2., 2., 1.],
       [2., 3., 3.],
       [2., 4., 4.],
       [3., 0., 0.],
       [3., 1., 0.],
       [3., 3., 4.],
       [4., 0., 1.],
       [4., 3., 4.],
       [5., 1., 2.],
       [5., 2., 1.],
       [6., 2., 1.],
       [6., 3., 4.],
       [6., 4., 5.]])

In [3]:
# normalize

Y_data

array([[0., 0., 5.],
       [0., 1., 4.],
       [0., 3., 2.],
       [0., 4., 2.],
       [1., 0., 5.],
       [1., 2., 4.],
       [1., 3., 2.],
       [1., 4., 0.],
       [2., 0., 2.],
       [2., 2., 1.],
       [2., 3., 3.],
       [2., 4., 4.],
       [3., 0., 0.],
       [3., 1., 0.],
       [3., 3., 4.],
       [4., 0., 1.],
       [4., 3., 4.],
       [5., 1., 2.],
       [5., 2., 1.],
       [6., 2., 1.],
       [6., 3., 4.],
       [6., 4., 5.]])